*{
    margin: 0;
    padding: 0;
}

main {
    background-color: "grey";
}

h1 {
    background-color: pink;
    margin: 10px;
    text-align: center;
    text-transform: capitalize;
    border-radius: 5px;
    padding: 10px;

}



.to-do-section, .in-progress-section, .completed-section {
    background-color: cyan;
    margin: 10px;
    text-align: center;
    text-transform: capitalize;
    border-radius: 5px;
    padding: 10px;
}

.test-button {
    background-color: green;
    color: white;
    padding: 10px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
    margin: 10px;
    text-transform: capitalize;
    margin: 0 auto;
    display: block;
}

.pop-up-1 {
    display: none;
    width: 30%;
    background-color: orange;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px;

}

#confirm-btn {
    display: none;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: purple;
    color: white;
    margin: 10px;
    text-transform: capitalize;
    margin: 0 auto;
    margin-top: 10px;
}

#add-to-completed-btn {
    display: none;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: purple;
    color: white;
    margin: 10px;
    text-transform: capitalize;
    margin: 0 auto;
}

#confirm-btn:hover, #add-to-completed-btn:hover {
    background-color: rgb(63, 3, 63);
}